{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

    <div class="container mt-5">
        <h1>Nous joindre</h1>
        <p>Si vous avez besoins de renseignements vous pouvez nous en faire part via ce formulaire:</p>
        <div class="row">
            <div class="col-md-6">
            {% include "contact/contact.html.twig" %}
            </div>
            <div class="col-md-6">
                <div class="opening-hours">
                    <h3 class="mb-3">Horaires</h3>
                    <ul class="list-unstyled">
                        <li><strong class="text-primary">Lundi</strong> <span class="float-end">8:00 AM - 6:00 PM</span></li>
                        <li><strong class="text-primary">Mardi</strong> <span class="float-end">8:00 AM - 6:00 PM</span></li>
                        <li><strong class="text-primary">Mercredi</strong> <span class="float-end">8:00 AM - 6:00 PM</span></li>
                        <li><strong class="text-primary">Jeudi</strong> <span class="float-end">8:00 AM - 6:00 PM</span></li>
                        <li><strong class="text-primary">Vendredi</strong> <span class="float-end">8:00 AM - 6:00 PM</span></li>
                        <li><strong class="text-primary">Samedi</strong> <span class="float-end">9:00 AM - 1:00 PM</span></li>
                        <li><strong class="text-primary">Dimanche</strong> <span class="float-end">Closed</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
