{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

    <div class="container mt-5">
        <h1>Nous joindre</h1>
        <p>Si vous avez besoins de renseignements vous pouvez nous en faire part via ce formulaire:</p>
        <div class="row">
            <div class="col-md-6">
            {% include "contact/contact.html.twig" %}
            </div>
            <div class="col-md-6">
                <div class="opening-hours">
                    <h3 class="mb-3">Horaires</h3>
                    <ul class="list-unstyled">
                    {% for hours in openingHours %}
                        <li><strong class="text-primary">{{ hours.dayOfWeek }}</strong> <span class="float-end">{{ hours.openingTime }} - {{ hours.closingTime }}</span></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
